<!DOCTYPE html>
<html lang="en">

<!--
Copyright 2018, Cardinal Peak LLC

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at
your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 p.Norm, li.Norm, div.Norm
	{margin:0in;
	margin-top:2.0pt;
	margin-bottom:2.0pt;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}

 #tempdata th {
   border:solid windowtext 1.0pt;
   background:#B1841D;
	 color:white;
   padding:0in 5.4pt 0in 5.4pt;}

 #tempdata td {
   vertical-align: top;
	 text-align: center;
   border-left:solid windowtext 1.0pt;
   border-right:solid windowtext 1.0pt;
	 border-top:none;
	 border-bottom:none;
   padding:2pt 5.4pt 2pt 5.4pt;}

 #tempdata tr:nth-of-type(7n+{{ weekend_offset }}) td {
   background:#E0E0E0;
 }

 #tempdata tr:nth-of-type(7n+{{ weekend_offset+1 }}) td {
   background:#E0E0E0;
 }

 #tempdata tr:last-child td {
   border-bottom:solid windowtext 1.0pt;
 }

 #summary td {
   vertical-align: top;
   padding:0in 5.4pt 0in 5.4pt;}

 p.THead {
   margin:0in;
	 margin-top:3.0pt;
	 margin-bottom:3.0pt;
	 font-size:10.0pt;
	 font-family:"Arial",sans-serif;
	 font-weight: bold;}
-->
</style>

</head>

<body>

<div class=WordSection1>

	{% macro deg(value) -%}
	{% if value is not none %}
  {{ '%0.1f'|format(value) }}°F
	{% else %}			-
	{% endif %}
	{%- endmacro %}

<table id="summary" border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=414 colspan=2>
		<p class=Norm style='margin-bottom:6.0pt;margin-top:0pt;font-size:14.0pt'><b>
					Temperature Log
		</b></p>
  </td>
  <td width=209 rowspan=5 style='padding-top:2px'>
		<img width=199 height=106 src="efaa_logo.png" align=right hspace=12>
  </td>
 </tr>
 <tr>
  <td width=108><p class=Norm>Location:</p></td>
  <td width=306><p class=Norm><b>{{ name }}</b></p></td>
 </tr>
 <tr>
  <td width=108><p class=Norm>Date Range:</p></td>
  <td width=306><p class=Norm>{{ start.strftime('%-m/%-d/%y') }}
			to {{ end.strftime('%-m/%-d/%y') }}</p></td>
 </tr>
 <tr>
  <td width=108><p class=Norm>Battery Level:</p></td>
  <td width=306><p class=Norm>
			{% if battery_pct %}
			{{ battery_pct }}%
			<span style='font-size:9.0pt'>
				(as of {{ battery_date.strftime('%-m/%-d/%y at %-I:%M %p').lower() }})
			</span>
		{% else %}
		n/a
		{% endif %}
		</p>
  </td>
 </tr>
 <tr>
  <td width=108><p class=Norm>Report Date:</p></td>
  <td width=306><p class=Norm>{{ report_date.strftime('%-m/%-d/%y at %-I:%M %p').lower() }}</p></td>
 </tr>
</table>

<p class=Norm><span style='font-size:7.0pt'>&nbsp;</span></p>
<img src="{{ graphfile }}" align=center>
<p class=Norm><span style='font-size:7.0pt'>&nbsp;</span></p>

<table id="tempdata" border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <thead>
  <tr>
		<th width=86 valign=bottom style='text-align:left'><p class=THead>Date</p></th>
		<th width=110 valign=bottom><p class=THead>Mid-Morning</p></th>
		<th width=110 valign=bottom><p class=THead>Mid-Afternoon</p></th>
		<th width=102 valign=bottom><p class=THead>Day Average</p></th>
		<th width=102 valign=bottom><p class=THead>Day Minimum</p></th>
		<th width=102 valign=bottom><p class=THead>Day Maximum</p></th>
		<th width=81 valign=bottom><p class=THead># Readings</p></th>
  </tr>
 </thead>
{% for d in daily_readings %}
 <tr>
  <td><p class=Norm align=left>{{ d.date.strftime("%-m/%-d/%y") }}</p></td>
  <td><p class=Norm>
			{{ deg(d.morning_temp) }}
			{% if d.morning_time %}
			<i><span style='font-size:7.0pt'>
					{{ d.morning_time.strftime('%-I:%M %p').lower() }}
    </span></i></p>
    {% endif %}
  </td>
  <td><p class=Norm>
			{{ deg(d.afternoon_temp) }}
			{% if d.afternoon_time %}
			<i><span style='font-size:7.0pt'>
					{{ d.afternoon_time.strftime('%-I:%M %p').lower() }}
		</span></i></p>
		  {% endif %}
  </td>
  <td><p class=Norm>{{ deg(d.average_temp) }}</p></td>
  <td><p class=Norm>{{ deg(d.minimum_temp) }}</p></td>
  <td><p class=Norm>{{ deg(d.maximum_temp) }}</p></td>
  <td><p class=Norm>{{ d.num_readings }}</p></td>
 </tr>
{% endfor %}

</table>

</div>

</body>

</html>
